/Bootloader/.settings/language.settings.xml
/Firmware/.settings/language.settings.xml
/.cproject
/.project
/.settings/language.settings.xml
/hw-PMXUControlBoard_converter.log
/Bootloader/.settings/language.settings.xml
/Firmware/.settings/language.settings.xml
